<div _ngcontent-jdy-c22="" class="agt-footer-container">
    <div _ngcontent-jdy-c22="" class="agt-footer" style="margin-left: 38%;">
        <div _ngcontent-jdy-c22="" class="legal"><!---->
            <p _ngcontent-jdy-c22="" class="rgt-right"><span _ngcontent-jdy-c22="">© Agilent Technologies, Inc.
                    2024</span><span _ngcontent-jdy-c22="" class="vertical-line"> | </span><!----><span
                    _ngcontent-jdy-c22=""> <a _ngcontent-jdy-c22="" target="_blank" rel="noopener noreferrer"
                        class="agt-link" href="https://www.agilent.com/home/privacy-policy"> Privacy
                        Statement </a></span><span _ngcontent-jdy-c22="" class="vertical-line"> | </span><span
                    _ngcontent-jdy-c22=""><a _ngcontent-jdy-c22="" target="_blank" rel="noopener noreferrer"
                        class="agt-link" href="https://www.agilent.com/home/terms-of-use"> Terms of Use </a></span><span
                    _ngcontent-jdy-c22="" class="vertical-line"> | </span><span _ngcontent-jdy-c22=""><a
                        _ngcontent-jdy-c22="" target="_blank" rel="noopener noreferrer" class="agt-link"
                        href="https://explore.agilent.com/agilent-website-support-feedback?pop=1"> Contact
                        Us </a></span><!----><!----></p>
        </div>
    </div>
</div>